<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909110535768-fvr9ss5t2t028kr7a51v4u42eep8b5ok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909110535768-fvr9ss5t2t028kr7a51v4u42eep8b5ok</string>
	<key>API_KEY</key>
	<string>AIzaSyC7HYT2U_hiJ-Ty-FnZBml9q8-Sbt8jLz4</string>
	<key>GCM_SENDER_ID</key>
	<string>909110535768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTest</string>
	<key>PROJECT_ID</key>
	<string>test-95f62</string>
	<key>STORAGE_BUCKET</key>
	<string>test-95f62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909110535768:ios:6621fe0145e88948360c2d</string>
</dict>
</plist>